.env
env_template.txt
env_template.txt
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/__init__.cpython-313.pyc
app/core/__pycache__/__init__.cpython-310.pyc
app/core/__pycache__/__init__.cpython-313.pyc
app/core/__pycache__/config.cpython-310.pyc
app/core/__pycache__/config.cpython-313.pyc
app/services/__pycache__/__init__.cpython-310.pyc
app/services/__pycache__/__init__.cpython-313.pyc
app/services/__pycache__/chat_service.cpython-310.pyc
app/services/__pycache__/chat_service.cpython-313.pyc
app/services/__pycache__/document_processor.cpython-310.pyc
app/services/__pycache__/document_processor.cpython-313.pyc
app/services/__pycache__/llm_service.cpython-310.pyc
app/services/__pycache__/vector_store.cpython-310.pyc
data/uploads/神经网络与深度学习.pdf
data/vector_db/chroma.sqlite3
env_template.txt
env_template.txt
